.loginFormContainer{
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    width: 400px;
    padding-bottom: 30px;

    .header {   
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        padding: 20px;
        margin-bottom: 30px;
        .title {
            font-size: 18px;
            color: #f5b833;
        }
        .help{
            font-size: 16px;
            color: #e7e6e2;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        input{
            background-color: #f7f9f9;
            padding: 10px 20px;
            font-size: 16px;
            border: 1px solid #00000020;
            border-radius: 5px;
            width: 70%;
        }

        .btn{
            background-color: #26545c;
            padding: 20px;
            color: #fff;
            border: none;
            width: 80%;
            font-size: 16px;
            font-weight: bold;
            margin-top: 10px;
            border-radius: 5px;
        }
        
    }
}